# Exclude some generated LibreSignage files and
# temporary text editor files.

# Nano
*.swp
*.save

# Emacs
.#*
\#*\#
*~

# Build
/server
/dist
/dep
/build/link
/build/*.conf

# Exclude generated Python files.
__pycache__
.mypy_cache
.pyc

# Exclude various temporary and vendored files.
/vendor
composer.lock
/node_modules
/package-lock.json
npm-debug.log

# Exclude temporary sass files.
.sass-cache

