$au-margin: $s4;

#asset-uploader-popup-content {
	display: flex;
	flex-direction: column;

	#asset-uploader-header-row {
		flex: 0 0 auto;
		margin: {
			left: $au-margin;
			right: $au-margin;
			bottom: $s2;
		}
		div[class^="col"] {
			padding: 0;
			h1 {
				font-size: 1.5em;
				margin: 0;
			}
		}
	}

	#asset-uploader-filesel-row {
		flex: 0 0 auto;
		margin: {
			left: $au-margin;
			right: $au-margin;
			top: 0;
			bottom: $s2;
		}
		div[class^="col"] {
			button { width: 100%; }
			padding: 0;
			height: 100%;
			@include media-breakpoint-up(sm) {
				label {
					margin-right: $s2;
				}	
			}
			@include media-breakpoint-down(xs) {
				button {
					margin-top: $s2;
				}
				max-width: 100%;
				width: 100%;
			}
		}
	}

	#asset-uploader-cant-upload-row {
		flex: 0 0 auto;
		margin: {
			left: $au-margin;
			right: $au-margin;
			top: 0;
			bottom: $s2;
		}
		div[class^="col"] {
			padding: 0;
			color: $orange;
		}
	}

	#asset-uploader-filelist-row {
		flex: 1 1 100%;
		padding: 0;
		margin: {
			left: $au-margin;
			right: $au-margin;
			top: 0;
			bottom: $s2;
		}
		.col {
			@extend .default-border;
			height: 100%;
		}
	}
}
