/* Editor controls styling. */

#slide-label-readonly,
#slide-label-edited,
#slide-label-collaborate,
#slide-label-no-quota {
	width: 100%;
	text-align: center;
	display: none; /* Initial */
}
#slide-label-readonly    { color: orange;   }
#slide-label-edited      { color: orange;   }
#slide-label-collaborate { color: darkgreen;}
#slide-label-no-quota    { color: orange;}

#slide-sched-group {
	margin: {
		top: .5rem;
		bottom: .5rem;
		left: 1.5rem;
	}
	border-left: 1px solid $gray-1;
}
