/* Editor queue selector styling. */

#queueselector {
	width: 100%;
	white-space: nowrap;
	overflow: visible;
}

.q-select {
	.dropselect-open {
		@extend .btn-primary;
		@extend .small-btn;
	}
}

.q-remove {
	.dropconfirm-open {
		@extend .btn-danger;
		@extend .small-btn;
	}
}
