/* LibreSignage editor quick help styling. */

$qh-height: 80vh;					// Quick help height.
$qh-width: 80%;						// Quick help width.
$qh-top: (100vh - $qh-height)/2;	// Quick help top space.
$qh-left: (100% - $qh-width)/2;		// Quick help left space.

#link-quick-help {
	text-decoration: none;
}

#cont-quick-help {
	position: fixed;
	display: none; /* Initial */
	z-index: 1000;

	width: $qh-width;
	height: $qh-height;
	top: $qh-top;
	left: $qh-left;

	padding: {
		top: $s2;
		bottom: $s2;
	}
	margin: 0;
	background-color: $white;
	border: 1px solid $gray-2;
	border-radius: 3px;
}

#cont-quick-help-content {
	@import 'src/doc/css/_content.scss';

	overflow-y: auto;
	height: calc(#{$qh-height} - #{2*$s2} - 1rem);
	margin: {
		top: $s2;
		bottom: $s2;
	}
	padding: {
		left: $s5;
		right: $s5;
	}
}
