@import 'globals';

/* Timeline styling */

#timeline {
	padding: {
		top: 5px;
		bottom: 5px;
		left: 0;
		right: 0;
	}
	overflow: {
		x: scroll;
		y: hidden;
	}
	width: 100%;
}

.tl-slide-cont {
	margin: 5px;
	padding: 0;
	min: {
		width: 200px;
		height: 90px;
	}
	max: {
		width: 200px;
		height: 90px;
	}
	background-color: var(--white);
	color: var(--secondary);
	border: 1px solid $gray-1;
}

.tl-slide-cont-dis {
	background-color: $gray-1;
}

.tl-slide-cont:hover {
	background-color: var(--secondary);
	color: var(--white);
}

.tl-slide-index-cont {
	margin: 0;
	padding: 4px;
	text-align: center;
}

.tl-slide-thumb-cont {
	margin: 0;
	padding: {
		top: 4px;
		bottom: 4px;
		left: 0px;
		right: 4px;
	}
	height: 100%;
	width: 100%;
}

.tl-slide-thumb {
	display: block;
	pointer-events: none;
	height: 100%;
	width: 100%;
	border: 1px solid $gray-1;
}

.tl-selected {
	background-color: var(--teal);
	color: var(--white);
}
