/* LibreSignage editor timeline styling. */

@import 'globals';

$tl-pad: 4px;                // Timeline slide default padding.
$tl-slide-cont-width: 200px; // Timeline slide "box" width.
$tl-index-cont-width: 0.15;  // Relative slide index container width.
$tl-thumb-cont-width: 1 - $tl-index-cont-width;

#timeline {
	padding: {
		top: 5px;
		bottom: 5px;
		left: 0;
		right: 0;
	}
	overflow: {
		x: scroll;
		y: hidden;
	}
	width: 100%;
}

.tl-slide-cont {
	margin: 5px;
	padding: 0;
	min: {
		width: $tl-slide-cont-width;
		height: 9/16
				*$tl-thumb-cont-width
				*($tl-slide-cont-width + 2*$tl-pad);
	}
	max: {
		width: $tl-slide-cont-width;
		height: 9/16
				*$tl-thumb-cont-width
				*($tl-slide-cont-width + 2*$tl-pad);
	}
	background-color: $white;
	color: $secondary;
	border: 1px solid $gray-1;
}

.tl-slide-cont-dis {
	background-color: $gray-1;
}

.tl-slide-cont:hover {
	background-color: $secondary;
	color: $white;
}

.tl-slide-index-cont {
	display: inline-block;
	vertical-align: top;
	width: $tl-index-cont-width*100%;
	margin: 0;

	padding: $tl-pad;
	padding-right: 0;
	text-align: center;
}

.tl-slide-thumb-cont {
	height: 100% !important;
	width: $tl-thumb-cont-width*100% !important;
	display: inline-block;
	vertical-align: top;

	margin: 0 !important;
	padding: 0 {
		/*
		*  Overwrite .preview-16x9-fit alignment padding.
		*/
		top: calc(
			0.5625*#{$tl-thumb-cont-width}*(100% + 2*#{$tl-pad})
		) !important;
	}
}

.tl-slide-thumb-cont > iframe {
	pointer-events: none;
	border: 1px solid $gray-1;

	/*
	*  Overwrite .preview padding and sizing.
	*/
	left: 4px !important;
	width: calc(100% - 8px) !important;
	height: calc(100% - 8px) !important;
}

.tl-selected {
	background-color: $teal;
	color: $white;
}

.tl-slide-error {
	background-color: $red;
	color: $white;
}
