html, body {
	min-height: 100%;
}

/* Controls styling. */
#queue-select-cont {
	min-width: 250px;
}

#queue-select {
	min-width: 100px;
	max-width: 250px;
}

#timeline {
	padding: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: scroll;
	width: 100%;
}

.slide-cont {
	margin: 5px;
	padding: 0;
	min-width: 200px;
	min-height: 90px;
	max-width: 200px;
	max-height: 90px;
	background-color: var(--white);
	color: var(--secondary);
	border: 1px solid var(--gray-1);
}

.slide-cont-dis {
	background-color: var(--gray-1);
}

.slide-cont:hover {
	background-color: var(--secondary);
	color: var(--white);
}

#editor-col-l {
	min-width: 250px;
}

.btn-slide-ctrl {
	margin-left: 5px;
	margin-right: 5px;
	width: 90px;
}

.slide-index-cont {
	margin: 0;
	padding: 4px;
	text-align: center;
}

.slide-thumb-cont {
	margin: 0;
	padding: 4px;
	padding-left: 0px;
	height: 100%;
	width: 100%;
}

.slide-thumb {
	display: block;
	pointer-events: none;
	height: 100%;
	width: 100%;
	border: 1px solid var(--gray-1);
}

/* Editor styling */
#slide-input {
	min-height: calc(1em*25); /* min-height: 25 lines */
	height: 95%;
	border: 1px solid var(--gray-1);
}

#editor-status {
	margin-top: 20px;
	margin-bottom: 0;
	text-align: center;
}
