html, body {
	min-height: 100%;
}

.container-main {
	padding-left: auto;
	padding-right: auto;
}

/* Controls styling. */
.btn-slide {
	margin: 5px 10px 5px 0px;
}

.btn-slide-ctrl {
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
}

/* Editor styling */
.editor {
	margin: 0;
}

.editor label {
	padding-top: 10px;
}

#slide-input {
	height: 50vh;
}

#editor-status {
	margin-top: 20px;
	margin-bottom: 0;
	text-align: center;
}
