@import 'default';
@import 'footer';
@import 'nav';
@import 'dialog';
@import 'multiselect';
@import 'timeline';
@import 'preview';

$main-col-minw: 250px;
$slide-input-minh: 30; // Min-height in lines.
$syntax-error-color: #ff6565;

html, body {
	transition: all .5s;
	min-height: 100%;
}

/* Controls styling. */
#queue-select-cont {
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

#queue-select {
	width: 150px;
}

#editor-col-l, #editor-col-r {
	min-width: $main-col-minw;
}

.btn-slide-ctrl {
	margin: 5px;
}

/* Editor styling */
#slide-cant-edit {
	color: orange;
	width: 100%;
	text-align: center;
	display: none; /* Initial */
}

#slide-edit-as-collab {
	color: darkgreen;
	width: 100%;
	text-align: center;
	display: none; /* Initial */
}

#slide-sched-group {
	margin: {
		top: .5rem;
		bottom: .5rem;
		left: 1.5rem;
	}
	border-left: 1px solid $gray-1;
}

#slide-input {
	min-height: $slide-input-minh*1em;
	border: 1px solid $gray-1;
	margin-bottom: $s3;
}

.syntax-error-highlight {
	position: absolute;
	background-color: $syntax-error-color;
}

#markup-err-display {
	font-family: Inconsolata, monospace;
	color: $red;
}
