html, body {
	min-height: 100%;
}

/* Controls styling. */
#slidelist {
	padding: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: scroll;
	width: 100%;
}

.slide-cont {
	margin: 5px;
	padding: 0;
	min-width: 200px;
	min-height: 90px;
	max-width: 200px;
	max-height: 90px;
	background-color: var(--white);
	color: var(--secondary);
	border: 1px solid var(--secondary-light);
}

.slide-cont:hover {
	background-color: var(--secondary);
	color: var(--white);
}

.btn-slide-ctrl {
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
}

.slide-index-cont {
	margin: 0;
	padding: 4px;
	text-align: center;
}

.slide-thumb-cont {
	margin: 0;
	padding: 4px;
	padding-left: 0px;
	height: 100%;
	width: 100%;
}

.slide-thumb {
	display: block;
	pointer-events: none;
	height: 100%;
	width: 100%;
	border: 1px solid var(--secondary-light);
}

/* Editor styling */
#slide-input {
	height: 50vh;
	border: 1px solid var(--secondary-light);
}

#editor-status {
	margin-top: 20px;
	margin-bottom: 0;
	text-align: center;
}
