/*
* Live slide preview styling. The preview-16x9 and preview-4x3 classes
* are meant to be applied to #slide-live-preview-cont to select the
* aspect ratio of the preview.
*/

:root {
	--preview-ratio-16x9: 55.65%;
	--preview-ratio-4x3: 75%;
	--preview-mw: 600px;
}

#slide-live-preview-cont {
	position: relative;
	width: 100%;
	margin-top: var(--s2);
	margin-bottom: var(--s2);
}

#slide-live-preview {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	border: 1px solid var(--gray-1);
}

.preview-16x9 {
	padding-top: var(--preview-ratio-16x9);
}

.preview-16x9 > #slide-live-preview {
	margin-top: calc(var(--preview-ratio-16x9)*-1);
}

.preview-4x3 {
	padding-top: var(--preview-ratio-4x3);
}

.preview-4x3 > #slide-live-preview {
	margin-top: calc(var(--preview-ratio-4x3)*-1);
}

@media screen and (min-width: 1000px) {
	.preview-16x9 {
		padding-top: 0;
		height: calc(9/16*var(--preview-mw));
	}
	.preview-16x9 > #slide-live-preview {
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
		width: var(--preview-mw);
		height: calc(9/16*var(--preview-mw));
	}

	.preview-4x3 {
		padding-top: 0;
		height: calc(3/4*var(--preview-mw));
	}
	.preview-4x3 > #slide-live-preview {
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
		width: var(--preview-mw);
		height: calc(3/4*var(--preview-mw));
	}
}
