@import 'default';
@import 'footer';
@import 'nav';
@import 'libresignage/ui/components/Dialog/css/Dialog.scss';

$quota-bar-height: 1.5rem;

.header-col {
	text-align: center;
	margin-bottom: 1rem;
}

.ctrl-panel-row {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

.ctrl-panel-col {
	padding-top: 1rem;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 1rem;
}

.quota-bar {
	margin: 0;
	margin-bottom: 1rem;
	padding: 0;
	height: $quota-bar-height;
	font-size: $quota-bar-height*0.5;
	text-align: center;
	line-height: $quota-bar-height;
}

