html, body {
	min-height: 100%;
}

.container-main {
	padding-left: 10%;
	padding-right: 10%;
}

.screenlist {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* Screen save, new and remove button styling. */
.btn-screen {
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
}

.btn-screen-ctrl {
	margin-right: 5px;
}

.btn-row {
	padding-top: 15px;
}

/* Editor styling */
.editor label {
	padding-top: 10px;
}

#content-input {
	height: 50vh;
}

