.user-settings-cont {
	min-width: 300px;
	max-width: 750px;
	padding-bottom: 20px;
	padding-left: 45px;
	padding-right: 45px;
}

.user-session-row {
	border-collapse: separate;
	border-spacing: 5px;
}

#user-sessions {
	border-collapse: collapse;
}

#user-sessions tr {
	border-top: 1px solid var(--secondary-light);
	border-bottom: 1px solid var(--secondary-light);
}
