/*
*  Linear slide transition animations.
*/

/* Swipe left */
.swipe-left {
	animation: swipe-left-k 0.25s forwards;
}

.swipe-from-right {
	animation: swipe-from-right-k 0.25s forwards;
}

@keyframes swipe-left-k {
	from { transform: translateX(0);     }
	to   { transform: translateX(-100%); }
}

@keyframes swipe-from-right-k {
	from { transform: translateX(100%); }
	to   { transform: translateX(0);    }
}

/* Swipe right */
.swipe-right {
	animation: swipe-right-k 0.25s forwards;
}

.swipe-from-left {
	animation: swipe-from-left-k 0.25s forwards;
}

@keyframes swipe-right-k {
	from { transform: translateX(0);    }
	to   { transform: translateX(100%); }
}

@keyframes swipe-from-left-k {
	from { transform: translateX(-100%); }
	to   { transform: translateX(0);     }
}

/* Swipe up */
.swipe-up {
	animation: swipe-up-k 0.25s forwards;
}

.swipe-from-below {
	animation: swipe-from-below-k 0.25s forwards;
}

@keyframes swipe-up-k {
	from { transform: translateY(0);     }
	to   { transform: translateY(-100%); }
}

@keyframes swipe-from-below-k {
	from { transform: translateY(100%); }
	to   { transform: translateY(0);    }
}

/* Swipe down */
.swipe-down {
	animation: swipe-down-k 0.25s forwards;
}

.swipe-from-above {
	animation: swipe-from-above-k 0.25s forwards;
}

@keyframes swipe-down-k {
	from { transform: translateY(0);    }
	to   { transform: translateY(100%); }
}

@keyframes swipe-from-above-k {
	from { transform: translateY(-100%); }
	to   { transform: translateY(0);     }
}
