@import 'bootstrap';
@import 'globals';
@import 'root';
@import 'fonts';

/* Default styling for 'main'. */
main {
	margin: 0;
	padding: {
		top: $dvpad;
		right: $dhpad;
		bottom: $dvpad;
		left: $dhpad;
	}
	height: 100%;

	color: $dark;
}

/* Default background color */
body {
	background-color: $gray-bg !important;
}

/* Setup fonts */
html, body {
	font-family: 'Raleway', sans-serif !important;
}

.lead {
	font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif !important;
	margin-bottom: 1rem;
}

/* Responsive display heading sizes */
@media screen and (min-width: 700px) {
	.display-1 {
		font-size: 8vw !important;
	}
	.display-2 {
		font-size: 7vw !important;
	}
	.display-3 {
		font-size: 6vw !important;
	}
	.display-4 {
		font-size: 5vw !important;
	}
}
@media screen and (max-width: 700px) {
	.display-1 {
		font-size: 12vw !important;
	}
	.display-2 {
		font-size: 11vw !important;
	}
	.display-3 {
		font-size: 10vw !important;
	}
	.display-4 {
		font-size: 9vw !important;
	}
}

/* Some predefined styling classes. */
.cont-info-primary {
	border-left: 3px solid $primary;
	background-color: rgba(0, 123, 255, 0.08);
}

.cont-info-info {
	border-left: 3px solid $info;
	background-color: rgba(23, 162, 184, 0.08);
}

.cont-info-success {
	border-left: 3px solid $success;
	background-color: rgba(40, 167, 69, 0.08);
}

.cont-info-warning {
	border-left: 3px solid $warning;
	background-color: rgba(255, 193, 7, 0.08);
}

.cont-info-danger {
	border-left: 3px solid $danger;
	background-color: rgba(220, 53, 69, 0.08);
}

.link-nostyle {
	color: $dark;
	text-decoration: none;
}

.link-nostyle:hover {
	color: $secondary;
	text-decoration: none;
}

.small-select {
	height: 2em;
	padding: {
		top: 0;
		bottom: 0;
		left: 8px;
		right: 8px;
	}
}

.small-btn {
	padding: {
		left: 0.6em !important;
		right: 0.6em !important;
		top: 0.25em !important;
		bottom: 0.25em !important;
	}
	height: 2em;
}

.btn-border {
	border: 1px solid $gray-1;
}

.default-border {
	border: $default-border-width solid $gray-1;
	border-radius: $default-border-radius;
}
