/* LibreSignage navigation bar styling. */

@import 'globals';
@import 'bootstrap';

$logo-height: 55px;

.nav {
	padding: {
		top: 20px !important;
		bottom: 20px !important;
		left: 25px !important;
		right: 25px !important;
	}

	.ls-logo {
		height: $logo-height;
		margin: {
			top: -5px;
		}
	}

	.nav-link {
		padding: {
			left: 10px;
			right: 10px;
		}
	}
}

.nav-logout-cont {
	margin: {
		left: $s1;
		right: $s1;
	}

	padding: {
		top: $s1;
		bottom: $s1;
	}

	border: {
		top: 1px solid $secondary;
		bottom: 1px solid $secondary;
	}
}
