@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Raleway');

:root {
	--gray-1: rgb(210, 210, 210);
	--gray-2: rgb(220, 220, 220);
	--gray-3: rgb(230, 230, 230);
	--gray-3: rgb(240, 240, 240);
	--gray-5: rgb(250, 250, 250);
}

/* Default styling for 'main'. */
main {
	/* Default spacing */
	margin: 0;
	padding-top: 30px;
	padding-right: 15px;
	padding-bottom: 30px;
	padding-left: 15px;

	/* Default sizing */
	height: 100%;

	/* Default muted text */
	color: var(--dark);

}

/* Default background color */
body {
	background-color: var(--light);
}

/* Setup fonts */
html, body {
	font-family: 'Raleway', sans-serif !important;
}

.lead {
	font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif !important;
	margin-bottom: 1rem;
}

/* Responsive display heading sizes */
@media screen and (min-width: 700px) {
	.display-1 {
		font-size: 8vw !important;
	}
	.display-2 {
		font-size: 7vw !important;
	}
	.display-3 {
		font-size: 6vw !important;
	}
	.display-4 {
		font-size: 5vw !important;
	}
}
@media screen and (max-width: 700px) {
	.display-1 {
		font-size: 12vw !important;
	}
	.display-2 {
		font-size: 11vw !important;
	}
	.display-3 {
		font-size: 10vw !important;
	}
	.display-4 {
		font-size: 9vw !important;
	}
}

/* Some predefined styling classes. */

.cont-info-primary {
	border-left: 3px solid var(--primary);
	background-color: rgba(0, 123, 255, 0.08);
}

.cont-info-info {
	border-left: 3px solid var(--info);
	background-color: rgba(23, 162, 184, 0.08);
}

.cont-info-success {
	border-left: 3px solid var(--success);
	background-color: rgba(40, 167, 69, 0.08);
}

.cont-info-warning {
	border-left: 3px solid var(--warning);
	background-color: rgba(255, 193, 7, 0.08);
}

.cont-info-danger {
	border-left: 3px solid var(--danger);
	background-color: rgba(220, 53, 69, 0.08);
}

.link-nostyle {
	color: var(--dark);
	text-decoration: none;
}

.link-nostyle:hover {
	color: var(--secondary);
	text-decoration: none;
}
