#dialog-overlay {
	position: fixed;

	width: 100%;
	min-width: 100%;
	max-width: 100%;

	min-height: 100%;
	max-height: 100%;
	height: 100%;

	top: 0;
	left: 0;

	background: rgba(145, 145, 145, 0.4);
}

#dialog {
	position: absolute;

	width: 30%;
	min-width: 300px;
	max-width: 500px;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 20px;
	margin: 0;
}

#dialog-input {
	margin-bottom: 20px;
}

.btn-dialog {
	margin-left: 5px;
	margin-right: 5px;
}

