:root {
	--footer-height: 2.5rem;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	padding-bottom: var(--footer-height);
}

.footer {
	position: absolute;
	bottom: 0;
	height: var(--footer-height);
	text-align: right;
}

.footer-content {
	line-height: var(--footer-height);
	padding: 0;
	padding-left: 15px;
	padding-right: 15px;
}
