:root {
	--footer-height: 70px;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: var(--footer-height);
}

.footer {
	position: absolute;
	bottom: 0;
	height: var(--footer-height);
	text-align: center;
}
