.nav {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 40px !important;
	padding-right: 40px !important;
}

.nav-container {
	padding-top: 10px;
	padding-bottom: 10px;
}
