@import 'default';
@import 'footer';
@import 'nav';
@import 'dialog';
@import 'multiselect';

$usermgr-minw: 250px;

#users-table {
	min-width: $usermgr-minw;
	padding: {
		left: $s4;
		right: $s4;
	}
	margin: {
		top: $s3;
		bottom: $s3;
	}

	.card-body {
		table {
			width: 50%;
			min-width: 200px;
			max-width: 400px;
			margin: auto;

			border-collapse: separate;
			border-spacing: $s1 $s1;

			label {
				margin: 0;
			}

			td:first-of-type {
				text-align: right;
			}
		}
	}
}

#user-controls {
	margin: {
		bottom: $s3;
	}
	text-align: center;
}
