@import 'default';
@import 'footer';

/* First heading styling */
h1:first-of-type {
	text-align: center;
	margin-bottom: 50px;
}

.doc-row {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: justify;
}

/* Table styling */
table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
}

td, th {
	padding-left: 15px;
	padding-right: 15px;
}

th {
	border-bottom: 2px solid $gray-2;
}

tr:nth-child(even) {
	background-color: $gray-3;
}
