@import 'default';
@import 'footer';
@import 'libresignage/ui/components/Dialog/css/Dialog.scss';

$form-login-minw: 200px;
$form-login-maxw: 350px;
$form-label-width: 90px;

html {
	height: 100%;
	min-height: 100%;
	max-height: 100%;
}

.form-login-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

	.ls-logo {
		height: 100px;
	}

	.form-login {
		label {
			flex-grow: 0;
			flex-basis: $form-label-width;
			padding-left: 0;
		}

		width: 80vw;
		min-width: $form-login-minw;
		max-width: $form-login-maxw;
		margin: {
			left: auto;
			right: auto;
			top: 20px;
		}
	}
}
