@import 'default';
@import 'footer';
@import 'nav';
@import 'dialog';
@import 'multiselect';
@import 'ls-dropselect/css/dropselect.scss';
@import 'ls-dropconfirm/css/dropconfirm.scss';
@import 'timeline';
@import 'preview';
@import 'popup';
@import 'quick_help';
@import 'asset_uploader';

$main-col-minw: 250px;        // Main column min width.
$slide-input-minh: 45;        // Minimum height of editor in lines.
$syntax-error-color: #ff6565; // Editor syntax error highlight color.

html, body {
	transition: all .5s;
	min-height: 100%;
}

#editor-col-l, #editor-col-r {
	min-width: $main-col-minw;
}

/* Controls styling. */
#queue-select-cont {
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

.q-select {
	.dropselect-open {
		@extend .btn-primary;
		@extend .small-btn;
	}
}

.q-remove {
	.dropconfirm-open {
		@extend .btn-danger;
		@extend .small-btn;
	}
}

.btn-slide-ctrl {
	margin: 5px;
}

#btn-slide-remove {
	.dropconfirm-open {
		@extend .btn-danger;
		@extend .btn-slide-ctrl
	}
}

/* Editor styling */
#slide-label-readonly, #slide-label-edited {
	color: orange;
	width: 100%;
	text-align: center;
	display: none; /* Initial */
}

#slide-label-collaborate {
	color: darkgreen;
	width: 100%;
	text-align: center;
	display: none; /* Initial */
}

#slide-sched-group {
	margin: {
		top: .5rem;
		bottom: .5rem;
		left: 1.5rem;
	}
	border-left: 1px solid $gray-1;
}

#slide-input {
	min-height: $slide-input-minh*1em;
	border: 1px solid $gray-1;
	margin-bottom: $s3;
}

#slide-label-editor-error {
	font-family: Inconsolata, monospace;
	color: $red;
}

.syntax-error-highlight {
	position: absolute;
	background-color: $syntax-error-color;
}

