<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">
	<testsuites>
		<testsuite name="API">
			<directory suffix=".php">./src/public/api/endpoint</directory>
		</testsuite>
		<testsuite name="backend">
			<directory suffix=".php">./src/common/php/</directory>
		</testsuite>
	</testsuites>
</phpunit>
